@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: RougeScript-Regular;
  src: url("../fonts/RougeScript-Regular.ttf");
}
body{
  width:100%;
  overflow-x: hidden;
}
html,body{scroll-behavior: smooth;}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #666;
  font-family: OpenSans-Regular;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  text-decoration: none;
  list-style: none;
}
p {
  font-size: 14px;
  line-height: 25px;
}
a,
.transition,
input[type="button"],
.mealBlock h2:after,.mealBlock p,.menuBtn .line{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a {
  color: #ef9857;
  cursor: pointer;
}
input[type="submit"] {
  backface-visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
textarea,
input,
select {
  border-radius: 0;
  resize: none;
  box-sizing: border-box;
}
table,
tr,
td,
th {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
}
.preloader,
.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: url("../images/loader.svg") no-repeat scroll center center #fff;
}
.loader {
  opacity: 0.4;
  display: none;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.backgroundImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*::-moz-selection {
  background: transparent;
}
*::selection {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(101,104,228,.1);
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6868E4;
}
/* header */
header{    
  padding: 10px 100px;
  box-shadow: 0px 1px 10px rgba(48, 48, 48, 0.2);
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 65px;
}
.btnWrap{
  display: flex;
}
header ul{
  display: flex;
  align-items: center;
}
header ul li{
  margin-right: 50px;
}
header ul li p{
  text-transform: uppercase;
  color: #F68F30;
  font-weight: 600;
}
.gradientBtn{
  border: 2px solid #F68F30;
  border-radius: 5px;
  display: flex;
  height: 50px;
  padding: 0 15px;
  align-items: center;
  margin-left: 20px;
}
.gradientBtn p{
  line-height: normal;
  color: #F68F30;
  text-transform: uppercase;
  font-weight: 600;
}
.gradientBtn img{
  margin-right: 10px;
}
.banner{
  position: relative;
  margin-top: 85px;
}
.banner .overlay{
  text-align: center;
}
.banner h3{
  /* font-size: 35px; */
  font-size: 28px;
  width: 80%;
  margin: 0 auto;
}
.banner h2{
  /* font-size: 100px; */
  font-size: 70px;
  font-family: RougeScript-Regular;
  color: #F27420;
  margin:25px 0;
  font-weight: 300;
}
.btn{
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
}
.blackBtn{
  border: 1px solid #333;
  color: #333;
}
.blackBtn:hover{
  background-color: #333;
  color: #fff;
}
.section{
  padding: 50px;
}
.sectionTitle{
  font-size: 30px;
  text-align: center;
}
.mealsWrap{
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
}
.mealBlock{
  position: relative;
}
.mealBlock *{
  color: #fff;
}
.mealBlock img{
  display: block;
}
.mealBlock h2{
  position: relative;
  padding-bottom: 25px;
}
.mealBlock h2:after{
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fff;
  left: calc(50% - 25px);
  bottom: 10px;
  opacity: 0;
}
.sectionTitle span{
  font-family: RougeScript-Regular;
  font-size: 100px;
  color: #F27420;
  font-weight: 300;
}
.mealBlock .overlay{
  text-align: center;
  background-color: rgba(0,0,0,.4);
}
.mealBlock p{
  opacity: 0;
  margin-top: -15%;
}
.mealBlock:hover p{
  opacity: 1;
  margin-top: 0px;
}
.mealBlock:hover h2:after{
  opacity: 1;
}
.btnWrap{
  display: flex;
  justify-content: center;
}
.orangeBtn{
  border: 1px solid #F27420;
  color: #F27420;
}
.orangeBtn:hover{
  background-color: #F27420;
  color: #fff;
}
.greySection{
  background-color: #FBFBFB;
}
.worksWrap{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.workblock{
  width:100%;
  padding: 0 20px;
}
.workblock img{
  height: 200px;
  margin: 0 auto;
}
.workblock h4{
  margin: 25px 0;
}
.occasionsWrap{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.occasionsBlock{
  text-align: center;
  width:100%;
  padding: 0 20px;
}
.occasionsBlock h4{
  margin: 10px 0;
}
.occasionsBlock img{
  height: 50px;
}
.caterSlider{
  margin-top: 50px;
}
.formWrap{
  width: 50%;
  margin:50px auto;
}
.formElement input,.formElement select{
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border-bottom: 1px solid #B7BABE;
  width: 100%;
  margin-bottom: 20px;
}
.formElement button{
  background-color: transparent;
  cursor: pointer;
  width:50%;
  margin-top: 25px;
}
.formElement select{
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 15px;
}
.footerTop{
  padding: 0 50px;
  padding-top: 20px;
  text-align: center;
}
.footerTop img{
  height: 70px;
}
.social{
  display: flex;
  justify-content: center;
  margin:20px;
}
.social img{
  height: 20px;
  margin:0 10px;
}
.copyrights{
  background-color: #FBFBFB;
  padding: 10px;
}
.benifitsSection{
  display: flex;
  align-items: center;
}
.accordianBlock{
  width: 50%;
  margin-top: 50px;
}
.accordian{
  margin-bottom: 20px;
}
.accImage{
  padding:50px;
}
.accTitle{
  background-color: #42495F;
  padding: 10px 20px;
  /* background-image: url('../images/arrow.svg'); */
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 15px;
  cursor: pointer;
  pointer-events: none;
}
.accTitle *{
  color: #fff;
}
.accBody{
  padding: 20px;
  border:1px solid #42495F;
  display: none;
}
.accBody a{
  margin-top: 10px;
  display: inline-block;
}

.slick-dots button{
  color: #5D6688!important;
    height: auto!important;
    width: auto!important;
    background: transparent;
}

.slick-dots .slick-active button{
  color: #F27420!important;
}

.slick-dots li{
  position: relative;
  margin-top: 20px;
  display: inline-block;
}
.slick-dots li{margin: 10px!important;}
.slick-dots li.slick-active::before{
  width: 100%;
  height: 3px;
  background: #F27420;
  display: inline-block;
  content: "";
  z-index: 20;
}
.slick-dots{position: relative;text-align: center;}
.slick-dots::before{
  width: 328px;
    height: 1px;
    background: #B7BABE;
    display: inline-block;
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.deskBanner{display: block;}
.mobBanner{display: none;}

.menuBtn {height: 40px;width: 40px;position: fixed;right: 20px;top: 18px;z-index: 9999;cursor: pointer;padding-top: 4px;display: none;}
.menuBtn .line {height: 3px;margin: 5px;background-color: #a1817d;}
.mobileSlide{width: calc(100% - 175px);}
.linkWrap{width: calc(60% - 5px);}
.actMenuBtn .l1{transform:translateY(8px) translateX(0) rotate(45deg);-webkit-transform:translateY(8px) translateX(0) rotate(45deg);-moz-transform:translateY(8px) translateX(0) rotate(45deg);}
.actMenuBtn .l2{transform:translateY(25px);-webkit-transform:translateY(25px);-moz-transform:translateY(25px);opacity:0}
.actMenuBtn .l3{transform:translateY(-8px) translateX(0) rotate(-45deg);-webkit-transform:translateY(-8px) translateX(0) rotate(-45deg);-moz-transform:translateY(-10px) translateX(0) rotate(-45deg)}
.mobHeader{padding: 10px;position: fixed;left: 0;top:0;width: 100%;z-index: 999;background-color: #fff;display: none;}
.mobHeader .logo{height: 55px;}
.mobNavbar{
  position: fixed;
  left: 0;
  top:75px;
  background-color: #fff;
  width:100%;
  z-index: 999;
  display: none;
}
.mobNavbar ul li{
  text-align: center;
  border-top: 1px solid #f5f5f5;
  padding: 5px;
}
.text-uppercase{text-transform: uppercase;}
footer {
  border-top: 1px solid #eee;
}
.footerLogoWrap {
  padding: 20px 50px;
  text-align: center;
}
.footerLogoWrap img {
  margin-bottom: 20px;
}
.footerLogoWrap p{
  font-size: 15px;
  color: #707070;
  line-height: 30px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #F3F6F6;
  padding: 25px 100px;
  padding-bottom: 10px;
}
.footer-link li {
  margin-bottom: 10px;
}
/* .footer-link li a{
  color: #707070;
  cursor: pointer;} */
.subtitle {
    font-family: OpenSans-Bold;
}
.social-link {
  margin-top: 10px;
  display: flex;
}
.social-link li {
  margin-right: 20px;
}
@media screen and (min-width:200px) and (max-width:800px){
  .menuBtn,.mobHeader{display: block;}
  header{
      display: none;
  }
  .banner .overlay{
    background-color: rgba(255,255,255,.5);
  }
  .deskBanner{display: none;}
  .mobBanner{display: block;}
  .banner{
    margin-top: 75px;
  }
  .banner .overlay,.section{
    padding: 20px;
  }
  .banner h3,.sectionTitle{
    font-size: 18px;
    line-height: 32px;
  }
  .banner h2,.sectionTitle span{
    font-size: 50px;
    line-height: 50px;
  }
  .mealsWrap{
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .mealBlock,.workblock,.occasionsBlock{
    margin-bottom: 20px;
  }
  .mealBlock .overlay{
    padding: 10px;
  }
  .mealBlock p{
    opacity: 1;
    margin-top: 0px;
  }
  .mealBlock h2:after{
    opacity: 1;
  }
  .btn{
    padding: 5px 10px;
  }
  .worksWrap,.occasionsWrap,.benifitsSection{
    flex-wrap: wrap;
  }
  .slick-dots button{
    font-size: 10px;
  }
  .accordianBlock,.formWrap{
    width: 100%;
  }
  .footerTop{
    padding: 0px;
  }
  .footerTop p{
    padding: 10px 20px;
  }
  .footer-wrapper{flex-wrap: wrap;padding: 20px;}
  .footerCol{margin-bottom: 20px;}
  .banner h3{width:100%;}
}
@media screen and (min-width:1020px) and (max-width:1200px){
  header{
    padding: 10px 30px;
  }
  .mealBlock{
    width: 30%;
  }
}

@media screen and (min-width:200px) and (max-width:350px){
  .slick-dots::before{width: 265px;}
}