@font-face{font-family:GothamMedium;src:url('../fonts/GothamMedium.ttf');}
@font-face{font-family:GothamLight;src:url('../fonts/GothamLight.ttf');}
*{margin:0;padding:0;border:0;box-sizing:border-box;outline:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;text-size-adjust:none;font-family:GothamMedium;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
ul, ol, li, h1, h2, h3, h4, h5, h6, a, p{text-decoration:none;list-style:none;font-weight:100;}
a,.transition,input[type="submit"],.overlay,.btn,.signUp span,.line{transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;}
a{color:#000;cursor:pointer;}
input[type="submit"]{backface-visibility:hidden;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;}
textarea, input, select{border-radius:0;resize:none;box-sizing:border-box;}
table,tr,td,th{border-spacing:0;padding:0;margin:0;vertical-align:top;}
table{width:100%;}
img{max-width:100%;}
p{font-size:15px;color:#707070;line-height:30px;}
body{width:100%;overflow-x:hidden;}
.overlay{position:absolute;height:100%;width:100%;top:0;left:0;}
.backgroundImage{background-position:center;background-repeat:no-repeat;background-size:cover;}
.table{display:table;width:100%;height:100%;}
.tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%;}
*::-moz-selection{background:#000;color:#fff;}
*::selection{background:#000;color:#fff;}
.col-20,.col-40,.col-60,.col-30,.col-50,.col-25{display:inline-block;vertical-align:middle;}
.col-20{width:20%;}
.col-30{width:33.33%;}
.col-40{width:40%;}
.col-50{width:50%;}
.col-60{width:60%;}
.col-25{width:25%;padding-left: 10px;padding-right: 10px;}
.text-right{text-align: right;}
.preloader{height:100%;width:100%;position:fixed;top:0px;left:0px;background:url('../images/loader.svg') no-repeat scroll center center #fff;z-index:99;}
header{padding:10px 100px;position:fixed;left:0;top:0;background-color:#fff;width:100%;z-index:5;-webkit-box-shadow:0 20px 10px -10px rgba(0,0,0,.1);-moz-box-shadow:0 20px 10px -10px rgba(0,0,0,.1);box-shadow:0 20px 10px -10px rgba(0,0,0,.1);}
header ul li{display:inline-block;vertical-align:middle;width:14.23%;text-align:center;}
header ul li a{color:#a38379;}
header ul li:last-child img{display:inline-block;vertical-align:middle;margin-right:8px;}
.signUp span{border:2px solid #a38379;padding:10px 20px;border-radius:5px;}
.signUp span:hover{background-color:#a38379;color:#fff;}
section{padding:100px;position:relative;}
.banner{/*background-image:url('../images/poster.jpg');height:100vh;*/color:#fff;text-align:center;padding:0px;/*padding-top:108px;*/overflow: hidden;}
.banner .tableCell{vertical-align:bottom;padding-bottom: 50px;}
.banner h2{font-size:50px;text-transform:uppercase;}
.banner *{color:#fff;}
.banner .table{position:absolute;top: 0;left:0;z-index: 2;}
.banner video{/*position: absolute;top: 0;left: 0;height: auto;*/width: 100%;z-index: 1;display: block;}
.btn{border:2px solid #fff;display:inline-block;padding:10px 30px;margin:50px 0 30px 0;border-radius:5px;}
.btn:hover{background-color:#fff;color:#000;}
.gradientBack{background-image:url('../images/gradient.jpg');}
.sectionTitle{font-size:32px;color:#a38379;margin-bottom:30px;line-height:40px;font-weight:100;}
.offerSection .col-60,.expertiseSection .col-60{padding:0px 10% 0 5%;}
.kitchenSection{-webkit-box-shadow:inset 0 20px 10px -10px rgba(0,0,0,.1);-moz-box-shadow:inset 0 20px 10px -10px rgba(0,0,0,.1);box-shadow:inset 0 20px 10px -10px rgba(0,0,0,.1);}
.imgBack{height:600px;}
.offerSection .col-40{background-image: url('../images/cook.jpg');}
.expertiseSection .col-40{background-image: url('../images/expertise.jpg');}
.offerSection,.whyChooseSection,.expertiseSection{padding:0px}
.sectionTitleSecondary{font-size: 28px;}
.sectionIntr{font-size:28px;color:#a38379;margin-bottom:18px;font-weight:100;}
.offerSection .col-60{padding:0px 10% 0 5%;}
.tomato{position:absolute;right:0;bottom:0;width:300px;}
.whyChooseSection{background-image:url('../images/whychooseBack.jpg');}
.whyChooseSection .col-40{position:relative;vertical-align:top;}
.whyChooseBlock{padding:50px;width:120%;position:absolute;top:50px;left:0;}
/* .kitchenSection{text-align:center;} */
.whyChooseSection .col-60{background-image: url('../images/whyChoose.jpg');}
.whyChooseBlock{padding:50px;width:60%;position:absolute;top:50px;left:15%;}
.kitchenSection{text-align:left;background-image:url('../images/wood.jpg');padding-bottom: 50px;}
.kitchenBlock .col-25{padding:0 20px;vertical-align:top;margin:20px 0;}
.kitchenBlock .col-25 p:nth-child(2){color:#663333;font-size:20px;min-height: 60px;margin-bottom: 10px;}
.kitchenBlock .iconWrap{height:150px;display:flex;align-items:center;justify-content:left;}
.kitchenBlock .iconWrap img{height:80px;}
.kitchenBlock .col-20 p:nth-child(2),.getStartedWrap .col-20 p{line-height: normal;color:#a38379;font-size:16px;}
.kitchenBlock .col-20 p:last-child{line-height:20px;margin-top:0px;}
.plate{position:absolute;left:0;bottom:20%;z-index:1;width:150px;}
.specificationWrap{width:70%;margin:50px auto 0 auto;}
.col-30{position:relative;}
.col-30 img{width:100%;}
.redOverlay{background-color:rgba(243,118,106,.6)}
.yellowOverlay{background-color:rgba(174,124,53,.6)}
.specificationWrap .col-30 p{color:#fff;position:absolute;bottom:20px;width:100%;text-align:center;}
.woodGradient{background-image:url('../images/wood.jpg');-webkit-box-shadow:inset 0 20px 10px -10px rgba(0,0,0,.1);-moz-box-shadow:inset 0 20px 10px -10px rgba(0,0,0,.1);box-shadow:inset 0 20px 10px -10px rgba(0,0,0,.1);text-align:center;padding-bottom:70px;}
.capTitle{text-transform:uppercase;}
.getStartedWrap{margin-top:50px;}
.getStartedWrap .col-20{vertical-align:top;}
.getStartedWrap .col-20 .iconWrap{height:150px;display:flex;align-items:flex-end;justify-content:center;margin-bottom:10px;}
.getStartedWrap .col-20 .iconWrap img{width:100px;}
.space{height:100px;}
.bringTableWrap .col-20 .iconWrap img{width:80px;}
.plate2{position:absolute;right:0;top:-10%;z-index:1;width:120px;}
.leftTomato{position: absolute;left: 0;bottom: -13%;width: 130px;z-index: 1;}
.woodySection{background-image:url('../images/greywood.jpg');text-align:center;}
.testimonialWrap{width:60%;margin:0 auto;}
.testimonialBlock{background-color:#fff;}
.textCenter{text-align:center;}
.scaleUpSection p{font-size:20px;line-height:35px;color: #9a9a9a;}
.scaleUpSection .sectionText{font-size: 16px;line-height: 35px;color: #666666;font-weight: 100;margin-bottom: 10px;}
.scaleUpSection .col-30{padding:0 15px;vertical-align:top;margin-top:50px;}
.scaleUpSection .col-30 .sectionTitle{min-height:80px;}
.stats p{font-size:40px;font-family:GothamLight;line-height:50px;color:#a38379;text-align:center;}
.stats p span{color:#ffcc33;display:block;font-size:120px;margin-bottom:50px;}
.contactSection{background-image:url('../images/bg-contact.jpg');text-align:center;}
.contactSection h2{color:#fff;font-size:35px;line-height:70px;}
.contactSection h2 a{color:#ffcc33;}
.copyright{background-color:#313131;padding:20px;text-align:center;}
.copyright p{color:#fff;}
footer{background-image:url('../images/bg-footer.jpg');padding:50px 100px;position:relative;}
.footerTomato{position: absolute;right: 0;bottom: -9%;z-index: 1;width: 200px;}
.appIcon,.social{padding-left:10%;}
.appIcon img{height:50px;margin-right:25px;}
.footerLinks{margin:30px 0;}
.footerLinks .col-30{vertical-align:top;text-align:center;}
.footerLinks *{color:#fff;}
.social ul li{display:inline-block;vertical-align:middle;margin-right:15px;}
.formElement input{background-color:#333;width:100%;padding:0 20px;height:40px;line-height:40px;border-radius:5px;color:#fff;}
.formElement{margin-bottom:20px;}
.formElement {margin-bottom: 30px;position: relative;}
.contactForm{padding:0 50px;}
.formElement button{background-color:#ffcc33;color:#fff;height:40px;padding:0 25px;border-radius:5px;cursor:pointer;}
.restaurateursForm .formElement{padding: 0px 15px;}
.restaurateursForm .formElement input{background-color: #e7d7bc;}
.restaurateursForm{margin-bottom: 80px;}
.rightPlate{position:absolute;right:0;bottom:15%;z-index:1;width:120px;}
.leftPlate{position:absolute;left:0;bottom:15%;z-index:1;width:120px;}
.clientSlider{margin-top:30px;}
.testTop{background:linear-gradient(to right, #ffcc66,#ffcc99);padding:50px 100px;padding-bottom:125px;}
.testTop p span{font-size:22px;line-height:35px;}
.testTop p span{position:relative;}
.testTop p span:before,.testTop p span:after{content:'';position:absolute;height:50px;width:50px;background-position:center;background-repeat:no-repeat;background-size:contain;}
.testTop p span:before{background-image:url('../images/left-qoutes.png');left:-70px;}
.testTop p span:after{background-image:url('../images/right-qoutes.png');right:-70px;}
.clientImg{width:125px;height:125px;margin:0 auto;border-radius:50%;border:5px solid #fff;margin-top:-125px;margin-bottom:25px;}
.slick-slide .rating img{display:inline-block;vertical-align:middle;margin:0 5px;}
.testBottom{padding:50px 100px;}
.testBottom h3{margin-top:25px;}
.testBottom p{font-style:italic;margin-top:5px;}
.testimonialWrap{margin-top:-350px;}
.testimonialBlock .slick-dots{margin-top:-30px;padding-bottom:30px;}
.testimonialBlock .slick-arrow{bottom:12%;top:auto;}
.testimonialBlock .slick-prev{left:35%;}
.testimonialBlock .slick-next{right:35%;}
.testimonialBlock .slick-dots button{background-color:#000;}
.testimonialBlock .slick-dots .slick-active button{background-color:#666;}
.menuBtn{height:40px;width:40px;position:fixed;right:15px;top:20px;z-index:9999;cursor:pointer;padding-top:4px;}
.backtotop{background:#ffcc33;filter:drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));color:#000;position:fixed;right:20px;bottom:14px;height:40px;width:40px;text-align:center;cursor:pointer;display:none;border-radius:5px;z-index:10;}
.backtotop p{color:#fff;line-height:35px;font-size:25px;}
.menuBtn{height:40px;width:40px;position:fixed;right:20px;top:20px;z-index:9999;cursor:pointer;padding-top:4px;}
.menuBtn .line{height:3px;margin:5px;background-color:#000}
.actMenuBtn .l1{transform:translateY(8px) translateX(0) rotate(45deg);-webkit-transform:translateY(8px) translateX(0) rotate(45deg);-moz-transform:translateY(8px) translateX(0) rotate(45deg);}
.actMenuBtn .l2{transform:translateY(25px);-webkit-transform:translateY(25px);-moz-transform:translateY(25px);opacity:0}
.actMenuBtn .l3{transform:translateY(-8px) translateX(0) rotate(-45deg);-webkit-transform:translateY(-8px) translateX(0) rotate(-45deg);-moz-transform:translateY(-10px) translateX(0) rotate(-45deg)}
.deskLogo{display:inline-block;}
.mobHeader{display:none;padding:10px;border-bottom:1px solid #ddd;}
.mobHeader img{height:50px;}
.error-label{width: 100%;font-size: 12px;text-align: left;margin-left: 15px;color: #cf6f6f !important;display: none;position: absolute;left: 0px;bottom: -30px;}
@media screen and (min-width:200px) and (max-width:1024px){.mobHeader{display:block;position:fixed;top:0px;left:0px;width:100%;background-color:#fff;z-index:9;height:75px;}
header{padding:10px 15px;top:75px;display:none;}
header ul li{width:100%;padding:10px;}
.deskLogo{display:none;}
header ul li{text-align:left;}
header ul li:last-child p{padding:10px 0;}
/* .banner{margin-top:75px;height:calc(100vh - 75px);} */
section,.testTop,footer{padding:50px;}
.banner h2{font-size:40px;line-height:50px;}
.sectionTitle,.stats p{font-size:30px;}
.sectionTitleSecondary, .sectionIntr{font-size: 25px;}
.scaleUpSection .interestedTitle .col-30{width: 33.33%;display: inline-block;}
.col-20{width:33.33%;}
.specificationWrap{width:100%;}
.testimonialWrap{width:85%;}
.testTop{padding-bottom:120px;}
.testimonialBlock .slick-prev{left:5%;}
.testimonialBlock .slick-next{right:5%;}
.tomato{width:300px;height:300px;}
.plate{bottom:-15%;}
.plate img{height:180px;width:auto;}
.plate2{right:-22px;top:-3%;}
.plate2 img{height:150px;}
.whyChooseBlock{width:100%;position:relative;}
.whyChooseSection .col-40, .whyChooseSection .col-60,.scaleUpSection .col-30{width:100%;}
.scaleUpSection .col-30 .sectionTitle{min-height:auto;}
footer .col-60,footer .col-40{width:100%;}
.footerLinks{text-align:center;}
.footerLinks .col-30{width:50%;margin-bottom:25px;}
.social,.appIcon{text-align:center;margin-bottom:20px;padding-left:0px;}
.appIcon img{margin:0 15px;}
.contactForm{padding:0 100px;}
.formElementCenter{text-align:center;}
.testTop p span:before, .testTop p span:after{display:none;}
.scaleUpSection p{font-size:22px;}
.footerTomato{bottom: -4.5%;z-index: 1;width: 150px;}
.leftTomato{bottom: -7%;width: 90px;}
.backgroundImage.whyChooseSection{background-position: center;background-repeat: no-repeat;background-size: auto;}
}
@media screen and (min-width:200px) and (max-width:700px){.banner,section{padding:30px 20px;}
.banner{padding: 0px;padding-top: 75px;height:calc(100vh - 75px);background-image:url('../images/poster.jpg');}
.banner video{display: none;}
.banner h2{font-size:30px;}
.sectionTitle{font-size:25px;margin-bottom:10px;margin-top:20px;}
.sectionTitleSecondary{font-size: 20px;}
.col-20, .col-40, .col-60, .col-30, .col-50,.col-25{width:100%;}
.offerSection .col-60{padding:0px;}
footer{padding:20px 40px;}
footer .leftPlate, footer .rightPlate,.plate2,.tomato,.plate,.footerTomato, .leftTomato{display:none;}
footer .appIcon{display:block;padding:0px;text-align:center;}
footer .appIcon img{height:auto;width:55%;margin-right:0px;}
footer .appIcon img:not(:last-child){margin-bottom:15px;}
.footerLinks{margin:20px 0;}
.mobadd{margin-top:25px;}
.contactForm{padding:0px;}
.contactSection h2{font-size:25px;line-height:46px;}
.contactSection .tableCell{padding:20px 0;}
.stats{width:100%;display:flex;}
.stats .col-50{width:50%;}
.stats p{font-size:20px;line-height:30px;}
.stats p span{font-size:50px;margin-bottom:20px;}
.scaleUpSection p{font-size:15px;line-height:30px;}
.scaleUpSection .col-30{margin-top:0px;}
.scaleUpSection .col-30 .sectionTitle{min-height:auto;margin-top:0px;}
.sectionIntr{font-size: 20px;}
.scaleUpSection .sectionText{font-size: 15px;}
.interestedTitle{margin-top: 30px;}
.testimonialWrap{width:100%;margin-top:-290px;}
.testTop{padding:40px;padding-bottom:100px;}
.testTop p span{font-size:20px;}
.clientImg{margin-top:-90px;}
.testBottom{padding:20px;}
.testimonialBlock .slick-prev{left:5px;}
.testimonialBlock .slick-next{right:5px;}
.testimonialBlock .slick-dots{margin-top:-12px;}
.space{height:50px;}
.getStartedWrap .col-20 .iconWrap{height:120px;}
.bringTableWrap .col-20 .iconWrap img,.getStartedWrap .col-20 .iconWrap img{width:65px;}
.whyChooseBlock{width:100%;padding:20px;position:relative;left: 0%;}
.whyChooseBlock h2{margin-top:0px;}
.specificationWrap{width:100%;}
.slick-slide .rating img{width:25px;}
.contactSection h2 a{word-break:break-all;}
.footerLinks .col-30{width:100%;margin-bottom:25px;}
.menuList li:first-child{display: none;}
.scaleUpSection .interestedTitle .col-30{width: 100%;}
.imgBack{height:350px;}
.offerSection .col-60{padding:20px;}
.kitchenBlock .iconWrap img{height: 60px;}
.kitchenBlock .iconWrap{height: 100px;}
.kitchenBlock .col-25{padding: 0px;}
.offerSection .col-60, .expertiseSection .col-60{padding: 20px;}
.whyChooseSection{background-image: none;}
.whyChooseSection .col-60{height:auto;padding-top: 350px;background-position: top;background-size: auto;}
.whyChooseSection .col-40{display: none;}
.whyChooseBlock{top:0;}
}
@media screen and (min-width:200px) and (max-width:500px){}
@media screen and (min-width:701px) and (max-width:1050px){
    .banner .table{padding:25px;padding-top: 100px;}
    .banner h2{font-size: 30px;}
    .banner .tableCell{padding-bottom: 20px;}
    .offerSection .col-40,.offerSection .col-60,.expertiseSection .col-40,.expertiseSection .col-60{width: 100%;}
    .offerSection .col-60,.expertiseSection .col-60{padding:50px}
    .kitchenBlock .col-25{width:50%;}
    .whyChooseBlock{width:90%;left:5%;}
    .whyChooseSection .col-60{height:700px}
}
@media screen and (min-width:1150px) and (max-width:1300px){header{padding:10px 20px;}
.whyChooseBlock{position:relative;top:20px;}
section{padding:50px;}
.plate{width:100px;}
.testimonialWrap{width:75%;}
.scaleUpSection p{font-size:25px;}
footer{padding:50px 25px;}
.rightPlate,.leftPlate{width:80px;}
}